<footer class="page-footer font-small blue pt-4">
    <div class="container-fluid text-md-left">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">
          <h5 class="text-uppercase">About Us</h5>
          <p>Here you can use rows and columns here to organize your footer content.</p>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-3 mb-md-0 mb-3">
            <h5 class="text-uppercase">Links</h5>
            <ul class="list-unstyled">
              <li>
                <a [routerLink]="['/']">Home</a>
              </li>
              <li>
                <a [routerLink]="['/contact']">Contact Us</a>
              </li>
              <li>
                <a [routerLink]="['/about']">About Us</a>
              </li>
              <li>
                <a [routerLink]="['/']">Find Us</a>
              </li>
            </ul>
          </div>
          <div class="col-md-3 mb-md-0 mb-3">
            <h5 class="text-uppercase">Links</h5>
            <ul class="list-unstyled">
              <li>
                <a href="#!">Link 1</a>
              </li>
              <li>
                <a href="#!">Link 2</a>
              </li>
              <li>
                <a href="#!">Link 3</a>
              </li>
              <li>
                <a href="#!">Link 4</a>
              </li>
            </ul>
          </div>
      </div>
    </div>
    <div class="footer-copyright text-center py-3">&copy; 2019 Copyright:
      <a href="#">Glam World's Entertainment</a>
    </div>
  </footer>